{{ define "main" }}
			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<!-- Start Header Area -->
        {{ partial "header.html" . }}
				<!-- End Header Area -->				
			<div class="container">
				<div class="row justify-content-start align-items-center">
					<div class="col-lg-6 col-md-12 no-padding banner-right">
						<img class="img-fluid" src="img/header-img.png" alt="">
					</div>						
					<div class="col-lg-6 col-md-12 banner-left">
						<h1 class="text-white">
							Hi, I’m <br>
							<span>Christoph Geypen</span> <br>
							Digital Marketer						
						</h1>
						<p class="mx-auto text-white  mt-20 mb-40">Data driven performance marketing since 2012.</p>
						<a href="https://www.linkedin.com/in/christophgeypen/" class="text-uppercase header-btn">Let Us Talk</span></a>
					</div>
				</div>
			</div>
			</section>
			<!-- End banner Area -->	
			<!-- Start service Area -->
			<section class="service-area section-gap" id="performance"> 
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Performance marketing</h1>
								<p>In a broad range of digital channels.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="single-service col-lg-6 col-md-6 mb-30">
							<div class="icon">
								<img src="img/s1.png" alt="">
							</div>
							<div class="dec">
								<h4 class="mt-30"><a href="#">Search</a></h4>			
								<p class="mt-20">Google Ads but also the Bing Search Ads. Managed through the platform interface or through Search Ads 360.</p>								
							</div>
						</div>
						<div class="single-service col-lg-6 col-md-6 mb-30">
							<div class="icon">
								<img src="img/s2.png" alt="">
							</div>
							<div class="dec">
								<h4 class="mt-30"><a href="#">Social, Display and video</a></h4>			
								<p class="mt-20">Primarily GDN through Google Ads and some Facebook experience. Programmatic on the DPG-network.</p>								
							</div>
						</div>
						<div class="single-service col-lg-6 col-md-6">
							<div class="icon">
								<img src="img/s3.png" alt="">
							</div>
							<div class="dec">
								<h4 class="mt-30"><a href="#">Tracking and analytics</a></h4>			
								<p class="mt-20">Tracking and Analytics from strategy to implementation. Primarily GTM, GA and Datastudio is used.</p>								
							</div>
						</div>
						<div class="single-service col-lg-6 col-md-6">
							<div class="icon">
								<img src="img/s4.png" alt="">
							</div>
							<div class="dec">
								<h4 class="mt-30"><a href="#">Full funnel marketing</a></h4>			
								<p class="mt-20">Split of customer journeys per KPI. The more (weighted) data the better. Keeping ROAS in the back of my mind.</p>								
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End service Area -->
			
			<!-- Start about Area -->
			<section class="about-area section-gap" id="tools">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">

								<h1 class="mb-10">Tools</h1>
								<p>I am an expert  with following tools.</p>

                <div class="skillbar" data-percent="95%">
                  <div class="skill-bar-percent">Google Ads (Search, Display, Video)</div>
                  <div class="skillwrap">
                    <div class="skillbar-bar" style="width: 95%;"></div>
                  </div>
                </div>

                <div class="skillbar" data-percent="80%">
                  <div class="skill-bar-percent">Search engine optimisation (Ahrefs, Semrush, Screaming frog)</div>
                  <div class="skillwrap">
                    <div class="skillbar-bar" style="width: 70%;"></div>
                  </div>
                </div>

                <div class="skillbar" data-percent="85%">
                  <div class="skill-bar-percent">Google Marketing Platform (DV360, CM360)</div>
                  <div class="skillwrap">
                    <div class="skillbar-bar" style="width: 85%;"></div>
                  </div>
                </div>

                <div class="skillbar" data-percent="95%">
                  <div class="skill-bar-percent">Google Analytics (GA360)</div>
                  <div class="skillwrap">
                    <div class="skillbar-bar" style="width: 95%;"></div>
                  </div>
                </div>

                <div class="skillbar" data-percent="95%">
                  <div class="skill-bar-percent">Google Tag Manager</div>
                  <div class="skillwrap">
                    <div class="skillbar-bar" style="width: 90%;"></div>
                  </div>
                </div>

                <div class="skillbar" data-percent="70%">
                  <div class="skill-bar-percent">JavaScript (script & NodeJs) and SQL (Big Query)</div>
                  <div class="skillwrap">
                    <div class="skillbar-bar" style="width: 70%;"></div>
                  </div>
                </div>				                

              </div>
						</div>
					</div>					
				</div>	

			</section>
			<!-- End about Area -->
			
			<!-- Start qualification Area -->
			<section class="qualification-area pt-100 pb-80">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-20 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Experience</h1>
								<p>Have a look at my work experience.</p>
							</div>
						</div>
					</div>							
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 col-md-6 qty-left">
							<div class="single-qly">
								<h3 class="text-uppercase">Mobile Vikings</h3>
								<p>Hasselt, April 2019 to Present</p>
								<h4 class="pt-20 pb-20">Digital marketing specialist</h4>
								<p>Digital transformation and performance marketing/sales for Mobile Vikings:</p>							
                <ol>
                  <li>Google Ads</li>
                  <li>Programmatic advertising on the Medialaan network (DV360)</li>
                  <li>SEO</li>
                  <li>funnel based conversion tracking</li>
                  <li>customer journey mapping</li>
                  <li>dashboarding</li>
                </ol>
							</div>
							<div class="btm-border d-block mx-auto"></div>								
							<div class="single-qly">
								<h3 class="text-uppercase">Groupe Pierre et Vacances/Center Parcs</h3>
								<p>Peer, October 2016 to March 2019</p>
								<h4 class="pt-20 pb-20">SEA/SEO manager Belgium</h4>
                <p>The job consisted of determining and implementing SEA and SEO strategies for multiple travel brands within Belgium. This with an emphasis on being data and results driven.</p>								
                <p>Under my management were several high budget SEA accounts.</p>								
                <p>For SEO my goal is to help steer different departments in the SEO/Semantic mindset. This by creating a Belgian strategy. I use word to mouth, design tools and work numbers driven to reinforce the SEO mindset over several divisions.</p>								
							</div>							
						</div>
						<div class="col-lg-6 col-md-6 qty-right">
							<div class="single-qly">
								<h4 class="pb-20">SYNTRA Limburg</h4>
								<p>Genk, April 2012 to October 2016</p>
								<h4 class="pt-20 pb-20">Digital marketer</h4>
                <p>Within SYNTRA Limburg I was responsible for everything digital. This comprises:</a>
              <ol>
                <li>SEO</li>
                <li>SEA (primarily Adwords)</li>
                <li>Digital signage</li>
                <li>Marketing automation and e-mail campaigns</li>
                <li>Social media</li>
                <li>Website usability and content</li>
                <li>Follow up of new trends</li>
                <li>Gathering and processing of in- and external data sources</li>
                <li>Reporting and data analysis</li>
              </ol>
							</div>
							<div class="btm-border d-block mx-auto"></div>							
							<div class="single-qly">
								<h4 class="pb-20">Postgraduate Digital Marketing</h4>
								<p>Provinciale hogeschool Limburg</p>								
								<p>2012-2013</p>								
							</div>	
							<div class="btm-border d-block mx-auto"></div>							
							<div class="single-qly">
								<h4 class="pb-20">Bachelor degree - Marketing</h4>
								<p>Provinciale hogeschool Limburg</p>								
								<p>2006-2009</p>								
							</div>																				
						</div>						
					</div>
				</div>	
			</section>
			<!-- End qualification Area -->
			
			<!-- Start project Area -->
			<section class="project-area section-gap" id="accomplishments">
				<div class="container">

					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Accomplishements</h1>
								<p>Some recent accomplishments which I am proud of.</p>
							</div>
						</div>
					</div>					

<div class="row">
						<div class="col-lg-6 project-left">
							<div class="single-project pb-100">
								<img class="img-fluid" src="img/mobile_vikings.jpg" alt="">
								<h4 class="pt-100 pb-30"><a href="#">Full funnel tracking & ROAS optimisation</a></h4>
								<p>For Mobile Vikings I was part of the digital transformation of the company. Setting up and implementing the new funnel tracking strategy and version 1 of the dashboards. Which play a vital role in optimising the companies ROAS.</p>
							</div>
							<div class="single-project">
								<img class="img-fluid" src="img/center_parcs.jpg" alt="">
								<h4 class="pt-100 pb-30"><a href="#">Customized landing pages & weighted customer journey</a></h4>
								<p>SEA specific Center Parcs/Sunparks BE non brand keywords suffered from low volumes in lower funnel traffic. My first experiments with full funnel advertising started here. Getting more insights in the customers behaviour and helping to allocate budget properly. SEA helped tremdously for creating proper SEO landingpages.</p>
							</div>							
						</div>
						<div class="col-lg-6 project-right">
							<div class="single-project">
								<h4 class="pt-30 pb-30"><a href="#">Multichannel campaign optimisation & website project</a></h4>
								<p class=" pb-100">SYNTRA was where my professional career started. Beginning with SEA and being project lead for a completely new website. We saw organic traffic doubling over 2 years. I was also heavily invested in Email campaigns were automation, list and template building were key.</p>								
								<img class="img-fluid" src="img/syntra_limburg.jpg" alt="">
							</div>
							<div class="single-project">
								<h4 class="pt-100 pb-30"><a href="#">Personal projects</a></h4>
								<p class=" pb-30">I am curious by nature and it shows (just check out my GitHub). I have programming experience in Python, Ruby (On Rails), and JavaScript (NodeJS). Focussing now primarily on node. I have also done numerous Wordpress projects and created a website using Ruby on Rails. These projects gave me the technical insights and tools to excell at the job.</p>
								<img class="img-fluid" src="img/kratos.jpg" alt="">								
							</div>								
						</div>
					</div>


					</div>
				</div>	
			</section>
			<!-- End project Area -->
			
			<!-- Start feature Area -->
			<section class="feature-area pt-100">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Some things to keep in mind</h1>
								<p>When optimizing digital</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature mb-30">
								<div class="title d-flex flex-row pb-20">
									<span class="lnr lnr-cloud-check"></span>
									<h4><a href="#">Offline != Online</a></h4>
								</div>
								<p>Online advertising requires it's own assets since the audiences do not behave the same as offline.</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature mb-30">
								<div class="title d-flex flex-row pb-20">
									<span class="lnr lnr-users"></span>
									<h4><a href="#">Audience</a></h4>
								</div>
								<p>One of the benefits of digital is being able to segment elaborately. Key is finding balance between volume and revenue.</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature mb-30">
								<div class="title d-flex flex-row pb-20">
									<span class="lnr lnr-flag"></span>
									<h4><a href="#">Define Goals</a></h4>
								</div>
								<p>Define goals starting from awareness to sale.</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature">
								<div class="title d-flex flex-row pb-20">
									<span class="lnr lnr-rocket"></span>
									<h4><a href="#">Full funnel</a></h4>
								</div>
								<p>Measure the customer journey from start to finish.</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature">
								<div class="title d-flex flex-row pb-20">
									<span class="lnr lnr-diamond"></span>
									<h4><a href="#">ROI</a></h4>
								</div>
								<p>Optimise channels based on ROI/ROAS.</p>							
							</div>							
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-feature">
								<div class="title d-flex flex-row pb-20">
									<span class="lnr lnr-history"></span>
									<h4><a href="#">Experiment</a></h4>
								</div>
								<p>A lot of rules within Digital are unwritten. Experiment and write your own guidelines.</p>							
							</div>							
						</div>																					
					</div>
				</div>	
			</section>
			<!-- End feature Area -->
							
			<!-- start contact Area -->		
			<section class="contact-area section-gap" id="contact">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-20 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Want to talk?</h1>
								<p>Contact me on LinkedIn.</p>
							</div>
						</div>
					</div>										
				</div>	
			</section>
			<!-- end contact Area -->		
{{ end }}

{{ define "scripts" }}
  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/parallax.min.js"></script>			
  <script src="js/owl.carousel.min.js"></script>			
  <script src="js/jquery.sticky.js"></script>

  <script src="js/main.js"></script>	
{{ end }}
